@charset "UTF-8";

p{
	margin-bottom:0;
}

h3{
	font-weight: 700;
}

body {
	min-height: 100vh;
	font-family: 'Gowun Dodum', sans-serif;
	background: url('/img/login/joinBackimg.jpg');
	background-size: 100% 100%;
}

.container{
	height: 1100px;
}

.btn-primary2{
   background-color: #007DC3;
   width: 25%;
   margin-left: 5%;
   color : #fff;
}

#country{
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Adjust as needed */
    MARGIN-BOTTOM: 10PX;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-form input[type="text"],
.input-form input[type="password"],
.input-form input[type="email"],
.input-form button {
	font-size: 1.0em; /* 텍스트 크기 증가 */
}

.mb-3{
	text-align: center;
}

.btn-primary{
	background-color: #007DC3;
}

.input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 32px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 430px) {
    .input-form {
            margin-top: 0px;
   height: 100%;
        }
   .btn-primary2{
   width: 35%;
   }
}

.btn-lg{
	font-size: 1.0em;
}
