:root {
    --pink:#e84393;
}

.location {
   padding: 10px 0px 20px 20px;
   font-size: 17px;
   color: #666;
   box-sizing: border-box;
   background-size: 21px auto;
   margin-left: 5%;
   /* margin-left 값을 조절하여 왼쪽으로 이동 */
}

span a {
   font-weight: bold;
   color: #333;
}

.ar {
   font-weight: bold;
}

main {
	font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 
}

.region-selector {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    max-width: 1400px;
}

.region-selector .region-button {	
	padding: 2%, 3%;
    width: calc(20% - 1.5rem);
    height: 175px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem solid rgba(0, 0, 0, .1);
    position: relative;
    border: 15px solid #ddd;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.region-button span {
    display: inline-block; /* span을 block 요소로 변경하여 수평 중앙 정렬 적용 */
    font-size: 25px;
    font-weight: bold;
}

.album-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
/*    height: 100vh;*/
}

.album-container .album {
    width: calc(24% - 1rem);
    height: 380px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem solid rgba(0, 0, 0, .1);
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    
}

.album {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

.album-container .album .image {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.album-container .album .image img {
    width: 100%;
    height: 15rem;
}

.album-container .album:hover .image img {
    transform: scale(1.1);
}

.icons i:last-child {
    display: none;
}

.icons:hover i:first-child {
    display: none;
}

.icons:hover i:last-child {
    display: inline-block;
}


.album-container .album .content {
    padding: 1.2rem;
    text-align: center;
}

.content-sub {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

.starpoint {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.content-main {
    display: flex;
    justify-content: space-between;
}


.album-container .album .content .title {
    font-size: 1.2rem;
    color: #333;
}
.album-container .album .content .explain {
    font-size: 1.3rem;
    color: #807e7e;
    padding-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 줄 수를 지정 */
    -webkit-box-orient: vertical;
}

.trendseoulBanner {
    position: relative;
    margin-bottom: 20px;
}


.trendseoulBanner img {
    width: 100%;
    max-height: 500px;
    filter: brightness(60%);
    opacity: 0.9; /* 투명도 조절 */
}

.bread-crumbs {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0 2rem 0;
    background-color: #ffffff;
    margin-bottom: -2rem;
    margin: 0 auto;
}


.bread-crumbs ul {
    list-style: none; /* 목록 스타일 제거 */
    display: flex;
    gap: 2rem; /* 아이콘 간격 조절 */
}

.bread-crumbs li {
    margin-right: 0.5rem;
}

.bread-crumbs a {
    text-decoration: none;
}

.bread-crumbs i {
    font-size: 25px;
}

.search_container {
   padding: 10px 0px 10px 10px;
   /* 테두리와 내용 사이의 간격을 조정하세요 */
   text-align: right;
   margin-right: 5%;
}

.search_container form {
   border: none;
   /* form 요소에는 테두리를 없애줍니다 */
}

.search_container select,
.search_container input[type="submit"] {
   border: 1px solid #000;
   /* 텍스트 입력 필드와 버튼에 테두리를 추가합니다 */
   padding: 5px;
   /* 텍스트 입력 필드와 버튼 내부의 간격을 조정하세요 */
}


.search_container input[type="submit"],
.search_container select {
   padding: 5px 10px;
   margin: 2px;
}

.search_container input[type="submit"] {
   background-color: #42424a;
   color: white;
   border: none;
   cursor: pointer;
}

.pagination-container {
   flex-grow: 1;
   /* 공간을 채우도록 함 */
   text-align: center;
   /* 내부 요소(페이징)를 중앙 정렬 */
   margin-bottom: 20px;
}

.pagination {
   margin: 0;
   /* 기존 마진 제거 */
   display: inline-block;
   text-align: center;
   /* 가운데 정렬 추가 */
   font-weight: bolder;
   flex-grow: 1;
   font-size: 14px;
}

.pagination-item {
   margin: 0 5px;
   padding: 5px 10px;
   border-radius: 5px;
   text-decoration: none;
   color: #333;
   font-weight: bold;
}

.pagination-item.active {
   background-color: #007bff;
   color: #fff;
}

.pagination-item.disabled {
   color: #333;
   cursor: pointer;
   pointer-events: none;
}

.write_button_container {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

.write_button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #42424a;
    font-size: 0.9rem;
    color: aliceblue;
    margin-right: 5%;
}
  
@media (max-width: 1200px) {
	.albums .album-container .album {
    	width: calc(50% - 1.5rem); /* 화면이 767px 이하일 때 한 줄에 2개씩 출력 (간격을 빼서 조절) */
	}
    
    .album-container {
	    margin-left: 1.5rem;
	}

}

@media (max-width: 800px) {
    .albums .album-container .album {
       width: 100%;
    }
    
    .album-container {
	    margin-left: 0rem;
	}

}

/*별점처리부분*/

.starpoint_wrap{display:inline-block;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(/img/trendseoul/sp_star.png) 0 -20px no-repeat;pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%; }
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%; }
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%; }
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%; }
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%; }
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%; }
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%; }
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%; }
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%; }
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%; }


.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}

@media only screen and (min-width: 1025px) {
	.search_container form {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 15px;
      margin-bottom: 15px;
   }


   .pagination {
      margin-bottom: 20px;
      text-align: center;
      margin-top: 20px;
      font-weight: bolder;
   }

   .pagination-item {
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
   }

   .pagination-item.active {
      background-color: #007bff;
      color: #fff;
   }

   .pagination-item.disabled {
      color: #333;
      cursor: pointer;
   }
}

/* 미디어 쿼리: 화면 크기가 768px 미만일 때 스타일 조정 */
@media only screen and (max-width: 767px) {
	
   .pagination {
      text-align: center;
      margin: 10px 0;
   }

   .pagination-item {
      margin: 0 3px;
      padding: 3px 8px;
      font-size: 12px;
   }
	
	.location {
    margin-left: 2%;
	}
	
	.search_container {
    margin-right: 2%;
	}
	
	.write_button {
    margin-right: 2%;
	}

}


.commonBanner-text h1 {
    font-size: 45px !important;
    font-weight: 800;
    margin-left: 180px;
}

.noData{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #c5c5c5;
}

@media only screen and (max-width: 1024px) {
	
	.commonBanner-text h1 {
    font-size: 25px !important;
    font-weight: 800;
    margin-left: 180px;
	}
}