@charset "UTF-8";

*{
	box-sizing: border-box;
}
.top5container{
/*	min-height: 100vh;*/
/*	justify-content: center;*/
/*	align-items: center;*/
	max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: column; 
}

.card-content{
	width:100%;
	display: flex;
	justify-content: center;
/*	align-items: center;*/
	flex-wrap: wrap;
/*	margin: 30px;*/
/*	float : left;*/
}

.card{
	position: relative;
	background: #fff;
	max-width: 250px;
	width: 250px;
	height: auto;
	margin: 25px;
	box-shadow: 0 5px 25px rgb(1 1 1/ 20%);
	border-radius: 10px;
	overflow: hidden; 
}

.card-image{
	width:250px;
    height:200px;
    overflow:hidden;
    margin:0 auto;
}

.card-image img{
	width:100%;
    height:100%;
    object-fit:cover;
}

.card-info{
	color: #222;
	padding: 5px 15px 15px;
	margin-top: 10px;
}

.card-info p{
	font-size: 1em;
}

.card-info h4{
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 5px;
}

.buttons {
	display: none;

}

.buttons button {
	margin: 5px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #007bff; 
	color: #fff; 
	border: none;
	border-radius: 4px;
	
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}


.overlay p {
	color: white;
}

.pagination{
	display : block;
	max-width: 1800px;
	text-align: center;
/*	margin: 30px 30px 60px;*/
	user-select: none;
	justify-content: center;
}

.pagination li{
	display: inline-block;
	margin: 5px;
	box-shadow: 0 5px 25px rgb(1 1 1/ 10%);
}

.pagination li a{
	text-decoration: none;
	line-height: 25px;
	font-size: 13px;
}

.previous-page, .next-page{
	background: #0AB1CE;
	width: 60px;
	border-radius: 45px;
	cursor: pointer;
	transition: 0.3s ease;
}

.previous-page:hover{
	transform: translateX(-5px);
}

.next-page:hover{
	transform: translateX(5px);
}

.current-page, .dots{
	background: #ccc;
	cursor: pointer;
}

.active{
	background: #0AB1CE;
}

.disable{
	background: #ccc;
}


/*셀렉트박스 드룹다운 css */

select{
	width:140px;
	text-align-last: center;
}

.serachBox li{
	list-style: none;
	display: inline-block;
}
	
