@charset "UTF-8";
/*폰트 변경으로 기본폰트 주석처리*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Noto+Sans+KR:wght@200;500;600&display=swap');*/
	
/* Navbar 전체 div _ Jquery 사용*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

input{
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
}

ol, ul {
    padding-left: 0 !important;
}

body{
	font-family: 'Gowun Dodum', sans-serif;	
}

.header-nav { 
	margin: 0px; 
	padding: 0px; 
	width: 100%; 
	z-index: 9999;
}
	
/* NavBar가 스크롤바에 따라올수있게 고정 _ Jquery 사용*/
.header-navFixed { position: fixed; top: 0px; }

.header-nav1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	padding: 8px 12px;
}

.header-nav2 {
	justify-content: center;
/* 	background-color: #FBFAF9; */
	background-color: #FFFFFF;
	padding: 8px 12px;
	border-bottom: 1px solid #dbdbdb;
}

/* 로고 사이즈 부분 */
.header_logo {
    margin-left: 35px;
    background: url('/img/header/gorea_logo2.png') no-repeat;
    background-size: contain;
    width: 230px;
    height: 45px;
    display: inline-block;
}

.header_logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header-weather img {
	width: 45px;
    height: 45px;
    margin-top: 7px;
}

/********************** info 부분 ****************************/

.headerInfo-div {
	align-items: center;
}


.headerInfo-div ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}

.headerInfo-div li {
	margin-right: 25px;
}

.headerInfo-div a {
	text-decoration: none;
	color: #42424a;
	font-size: 17px;
	font-weight: 600;
}

.headerInfo-div a:hover {
	color: #007DC3;
	font-weight: 600;
}

.headerSearch-box {
	font-size: 17px;
	color: #222222;
	width: 220px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

.search-button button{
	border: none;
	background-color: rgba(0,0,0,0);
}

.search-button button i{
	font-size: 20px;
	cursor: pointer;
}

/* select 박스 언어선택 */
#lang {
	width:100px;
	height: 25px;
    text-align: center; 
    font-size: 15px;
	background-color: #FFFFFF;
    outline: none;
    border: none;
    font-family: 'Gowun Dodum', sans-serif;	
}

#lang option {
	font-family: 'Gowun Dodum', sans-serif;	
    text-align: center; 
}

/* 메뉴 토글버튼 비활성화 */
.header-menuBtn{
	display:none;
}

.search-togleBtn{
	display:none;
}

.header-menuBtn div {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	transition: all 0.3s ease;
}

/* 로그인시에 마이페이지 , 관리자페이지 , 로그아웃 드롭다운박스 생성 */
.headerDropdown {
	display: inline-block;
	position: relative;
}

.headerDropdown-options {
	display: none;
	position: absolute;
	overflow: auto;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
	z-index: 9999;
	width: 180px;
	right: 0px;
}

.headerDropdown:hover .headerDropdown-options {
	display: block;
}

.headerDropdown-options a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	padding:20px 40px;
	font-size:15px;
}

.headerDropdown-options a:hover {
	color: #0a0a23;
	background-color: #ddd;
	border-radius:5px;
}

/* 헤더 nav2List 부분*/
.header-nav2List {
	display: flex !important; 
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-nav2List li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 15px 35px;
}

.header-nav2List a {
	text-decoration: none;
	color: #42424a;
	font-size: 18px;
	font-weight: 600;
}

.header-nav2List a:hover {
	color: #007DC3;
	font-weight: 600;
}

.header-nav2List > li:hover > a {
	color: #007DC3;
	font-weight: 600;
}

/******** 메뉴 드롭다운 CSS *********/

.header-nav2List li:hover .header-dropdownList {
	display: block;
	z-index: 9999;
	opacity: 1;
	top: 55px;
}

.header-dropdownList {
	display: none;
	top : 0;
	left : -20px;
	right : -20px;
	opacity: 0;
	position: absolute;
	padding: 15px 0px;
/* 	background-color: #FBFAF9; */
	background-color: #FFFFFF;
	box-shadow: 0 20px 45px #00000020;
	transition: all ease 0.5s;
}

.header-dropdownList li {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	
}

.header-dropdownList li a {
	padding: 20px 0px;
	display: inline-block;
	width: 100%;
}

.nav-links{
	display: none;
}

@media only screen and (max-width: 1280px) {
	.header-nav2List li {
		position: relative;
		display: inline-block;
		list-style: none;
		padding: 20px 40px;
	}
}

@media only screen and (max-width: 992px) {
	.header-weather {
		display: none;
	}
}


@media only screen and (max-width: 880px) {
	
	#lang{
		display: none;
	}
	
	.header-login{
		display: none;
	}
	
	.search-togleBtn{
		display:block;
	}
	
	.search-togleBtn i{
		font-size: 22px;
		cursor: pointer;
	}
	
	.header-menuBtn{
		display: block;
		cursor: pointer;
	}
  	
  	.header_logo {
    	margin-left: 20px;
    	background: url('/img/header/gorea_logo.png') no-repeat;
    	background-size: contain; /* 이미지를 컨테이너에 맞게 조절합니다. */
    	width: 140px;
		height: 35px;
    	display: inline-block;
	}

	.header_logo a {
    	display: block;
    	width: 100%;
    	height: 100%;
	}
	
	.header-nav2, .headerSearch-box, .search-button {
		display: none;
	}
	
	.header-nav1 {
		border-bottom: 1px solid #dbdbdb;
	}
	
	/* 모바일 화면 메뉴 디자인 */
	.nav-links {
		display: none;
		margin: 0;
		align-items: center;
		text-align: center;
		position: absolute;
		list-style: none;
    	right: 0;
	    background-color: #FFFFFF;
	    flex-direction: column;
	    height: 100vh;
	    width: 100%;
	    overflow-y: auto;
	    z-index: 9999;
	}
	
	.nav-links li{
		margin-top: 35px;
		margin-bottom: 35px;
		opacity: 0;
	}
	
	.nav-links li p {
		text-decoration: none;
		color: #007DC3;
  		font-size: 23px;
  		font-weight: 600;
	}
	
	.nav-links li a {
		text-decoration: none;
		color: #42424a;
  		font-size: 17px;
	}
	
	.nav-links li a:hover {
		color: #007DC3;
		font-weight: 600;
	}
	
	.header-Gologin{}
	
	
	.nav-IndexInput{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}
	
	#lang2 {
		width:100px;
		height: 25px;
	    text-align: center; 
	    font-size: 15px;
		background-color: #FFFFFF;
	    outline: none;
	    border: none;
	    font-family: 'Gowun Dodum', sans-serif;	
	}

	#lang2 option {
		font-family: 'Gowun Dodum', sans-serif;	
	}
	
	.nav-IndexInput a{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
	}
	
	.nav-links h1 a{
		text-decoration: none;
		color: #42424a;
  		font-size: 40px;
  		margin-bottom:10px;
	}
	
	.nav-links li h3 {
		text-decoration: none;
		color: #42424a;
  		font-size: 35px;
  		margin-bottom:10px;
	}
	
	.nav-links li h3 span{
		text-decoration: none;
		color: #007DC3;
  		font-size: 35px;
  		margin-bottom:10px;
	}
	
	.nav-idIfno{
		display: flex;
		height: 50px;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	
	.nav-idIfno img{
		width: 30px;
		height: 30px;
	}

	.nav-line hr{
		width : 70%;
		border: 1px solid #dbdbdb;
		margin: 0 auto;
	}
	
	.nav-active {
    	transform: translateX(0%);
  	}

	  @keyframes navLinkFade {
	    from {
	      opacity: 0;
	      transform: translateX(5px);
	    }
	    to {
	      opacity: 1;
	      transform: translateX(0);
	    }
	}
}

.toggle .line1 {transform: rotate(-45deg) translate(-5px, 6px);}
.toggle .line2 {opacity: 0;}
.toggle .line3 {transform: rotate(45deg) translate(-5px, -6px);}


.commonBanner {
	position: relative;
	height: 450px;
	margin-bottom: 50px;
	box-sizing: border-box; 
}

.commonBanner-text {
	position: absolute;
	bottom: 0.1px;
	width: 100%;
	height: 130px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    
    display: flex;
	align-items: center;
}

.commonBanner-text h1{
	font-size: 65px;
	font-weight: 800;
	margin-left: 180px;
}

.commonBanner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center bottom;
}

@media only screen and (max-width: 1080px) {
	.commonBanner {
		position: relative;
		height: 300px;
		margin-bottom: 50px;
		box-sizing: border-box; 
	}
	
	.commonBanner-text {
		position: absolute;
		bottom: 0.1px;
		width: 100%;
		height: 80px;
		color: white;
		background-color: rgba(0, 0, 0, 0.3);
	    backdrop-filter: blur(5px);
	    
	    display: flex;
		align-items: center;
	}
	
	.commonBanner-text h1{
		font-size: 55px;
		font-weight: 700;
		margin-left: 100px;
	}
}

@media only screen and (max-width: 750px) {
	.commonBanner-text h1{
	font-size: 45px;
	font-weight: 700;
	margin-left: 70px;
	}
}

​img[src$=".jgp"], img[src$=".png"] { 
	image-rendering: -moz-crisp-edges; /* Firefox */ 
	image-rendering: -o-crisp-edges; /* Opera */ 
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */ 
	image-rendering: crisp-edges; 
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */ 
	}

