@charset "UTF-8";

img{
  width: 100%;
}

html, body {
    height: 100%;
}

form{
     width: 80%;
}

.login {
    width: 100%;
    height: 100%;
    background: #f8f9fa;
    position: relative;
}
.login_box {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
    background: #fff;
}
.login_box .left{
  width: 70%;
  height: 70%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 100%;
  height: 100%  
}
.left .top_link a {
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.left .bot_link a {
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.left .top_link{
  height: 20px
}
.left .contact{
  display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
}
.left input:not(#continue_login) {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
  background: #fff;
}
.submit {
    border: none;
    border-radius: 8px;
    background: #98c6db;
    width: 100px;
    color: #fff;
    float: right;
    padding: 5px;
    margin-bottom: 20px;
}

element.style {
    float: right;
    margin-right: 5px;
}

.image-button {
    border: none;
    width: 200px; /* 이미지의 너비에 맞춤 */
    height: 80px; /* 이미지의 높이에 맞춤 */
    border-radius: 8px;
    display: block;
    margin: auto;
    background: url('/img/login/google_login.png') no-repeat center center;
    background-size: contain; /* 이미지가 버튼 안에 꽉 차도록 조정 */
    color: #fff;
    font-weight: bold;
}

.right {
  background: url('/img/login/login_img.jpg');
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(10%, 20%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}

.bot_link {
    width: 100%; /* 전체 너비 사용 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-bottom: 10px;
}

.bot_link2 {
    width: 100%; /* 전체 너비 사용 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 10px;
}

.checkbox_container {
      margin-bottom: 50px; /* 원하는 여백을 설정할 수 있습니다. */
}

.center-button {
    display: flex;
    justify-content: center;
}

label {
     display: inline-block;
     white-space: nowrap;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 912px) {
    .login_box .right {
        display: none;
    }

    .login_box .left {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
	
	.findid{
		font-size: 15px;
	}
	
    .login_box .right {
        display: none;
    }
    .submit {
      width: 80px;
    }
    .login_box .left {
        width: 100%;
        height: 90%;
    }
}

.login_logo{
	width:150px;	
}

@media screen and (max-height: 768px){
	.login_logo, .goMain{
		display: none;
		
	}
	
	.left .contact{
	  	display: flex;
	    align-items: center;
	    justify-content: center;
	    align-self: center;
	    height: 100%;
	    width: 100%;
	    margin: auto;
	    margin-top: 30px;
	}
}
