footer {
    position: relative;
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    background-color: #007DC3;
    color: #FFFFFF;
    font-family: 'Gowun Dodum', sans-serif;	
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 동일한 크기의 컬럼으로 설정 */
    grid-gap: 20px;
}

.sec h2 {
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
}

.sec p {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sci {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    margin-top: 20px;
}

.sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    justify-content: center;
    align-content: center;
}

.sci li a i {
    font-size: 20px;
    color: #fff;
}

.quicklinks {
    text-align: center; /* 전체 섹션의 텍스트를 중앙 정렬 */
}

.contact {
    text-align: center; /* 전체 섹션의 텍스트와 내용을 왼쪽으로 정렬 */
}

.contact ul {
    display: inline-block; /* 리스트를 인라인 블록으로 만들어서 오른쪽 정렬 가능하게 함 */
    text-align: left; /* 리스트 아이템들은 왼쪽 정렬 */
}

.quicklinks ul {
    display: inline-block; /* 리스트를 인라인 블록으로 만들어서 중앙 정렬 가능하게 함 */
    text-align: left; /* 리스트 아이템들은 왼쪽 정렬 */
}

.quicklinks li a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.info {
    position: relative;
}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span {
    font-size: 20px;
    gap: 10px;
}

info li p {
	display: flex;
	align-items: center;
}

.info li a {
    text-decoration: none;
    color: #FFFFFF;
}

.copyrightText {
    width: 100%;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 0px 30px;
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;	
}

@media (max-width: 991px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr); /* 더 작은 화면에서는 2개의 컬럼으로 설정 */
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr; /* 가장 작은 화면에서는 1개의 컬럼으로 설정 */
    }
}
