.mypage-container {
    width: 550px; /* 필요에 따라 조절 */
    margin: 0 auto;
}

.menu-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 4px solid #9ad6fa;
    text-align: center;
}

.mypage-container input[type="text"],
.mypage-container input[type="password"] {
    width: 100%;
    height: 40px;
    border: 1px solid #c3dfef;
    border-radius: 10px;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: #eaedef;
}

.caution-comment {
	margin: 0 10px;
	margin-bottom: 30px;
}

.caution-comment p {
	margin-bottom: 20px;
}

.commnet-header span {
	font-size: 18px;
	font-weight: bold;
}

.commnet-body div {
    display: flex;
    align-items: center;
}

.commnet-body div i {
    margin-right: 7px; 
}


.comment {
	font-size: 13px;
	font-weight: 500;
}

.info_write .title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group {
	width: 100%;
    box-sizing: border-box; 
    padding: 10px; 
}

.form-group .input #country {
	width: 50%;
	height: 40px;
    border: 1px solid #c3dfef;
	border-radius: 10px;
	padding: 0 12px;
}

.userInfo_btn {
	display: flex;
	justify-content: space-around;
}

.userInfo_btn a {
	text-decoration: none;
	color: black;
}

.userInfo_btn .userInfoBtn {
    width: 47%;
    line-height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #d9e2e8;
    margin: 0 5px;
}

.userInfo_btn .userInfoBtn:first-child {
    background-color:white;
}

.userInfo_btn .userInfoBtn:last-child {
    background-color: #0a0a0a;
    color: white;
}