:root {
	--pink: #e84393;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

.logo img {
	width: 150px;
	height: auto;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 1rem 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
	font-size: 2rem;
	color: var(--pink);
	font-weight: bold;
}

section {
	padding: 2% 5%;
}

.location {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto 0 auto;
	padding: 10px 0px 20px 20px;
	font-size: 17px;
	color: #666;
	box-sizing: border-box;
	background-size: 21px auto;
	margin-left: 20px;
	/* margin-left 값을 조절하여 왼쪽으로 이동 */
}

span a {
	font-weight: bold;
	color: #333;
}

i {
	color: #333;
}

.ar {
	font-weight: bold;
}

.heading {
	text-align: center;
	font-size: 3rem;
	color: var(--pink);
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(255, 51, 153, 0.05);
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */

}


.album:hover{
    transform: scale(0.9); /* 1보다 작은 값으로 조절 */
    transition: transform 0.2s ease-in-out; /* 부드러운 애니메이션을 위한 트랜지션 추가 */
}

.album {
    width: 850px;
    height: 230px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem solid rgba(0, 0, 0, .1);
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

.album .image {
    flex: 0 0 45%;
    position: relative;
}

.album .image img {
    width: 100%;
    height: 100%;
}

.album .content {
    flex: 1;
    margin-bottom: 10px;
    justify-content: flex-start; /* 수정된 부분 */
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.album .content .title-subtitle {
    display: flex;
    margin-bottom: 10px; /* 원하는 만큼의 간격으로 조절하세요 */
    flex-direction: column;
    align-items: baseline; /* 추가된 부분 */
}

.album .content .title-subtitle .title,
.album .content .title-subtitle .subtitle {
    font-family: 'Noto Sans KR', sans-serif; /* 사용할 폰트 설정 */
}

.album .content .title-subtitle .title {
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 15px;
}

.album .content .title-subtitle .subtitle {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 15px;
    overflow: hidden;
}


.album .image .i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
}

.i .fa-star,
.i .fa-star-o {
    font-size: 24px; /* 원하는 크기로 조절하세요 */
}

.i .fa-star {
    color: #94b8f4;
    transition: color 0.2s linear;
    display: none; /* 처음에는 채워진 별을 감춤 */
}

.i .fa-star-o {
    color: #94b8f4;
    display: inline-block; /* 처음에는 빈 별을 보이게 함 */
}

.i:hover .fa-star {
    display: inline-block; /* 마우스를 올리면 채워진 별을 보이게 함 */
}

.i:hover .fa-star-o {
    display: none; /* 마우스를 올리면 빈 별을 감춤 */
}



.on a {
	font-weight: bold;
}

.banner {
	position: relative;
}

.banner-text {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.banner img {
	width: 100%;
	max-height: 500px;
}

.bread-crumbs {
	display: flex;
	align-items: flex-start;
	padding: 2rem 0 2rem 0;
	background-color: #ffffff;
	margin-bottom: -2rem;
	margin: 0 auto;
}

.bread-crumbs ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.bread-crumbs li {
	margin-right: 0.5rem;
}

.bread-crumbs a {
	text-decoration: none;
}

.bread-crumbs i {
	font-size: 25px;
}

.pagination {
    margin-bottom: 20px;
    text-align: center; /* 가운데 정렬 추가 */
    margin-top: 20px; /* 상단 여백 추가 */
    font-weight: bolder;
  }

  .pagination-item {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .pagination-item.active {
    background-color: #007bff;
    color: #fff;
  }

  .pagination-item.disabled {
    color: #333;
    cursor: pointer;
  }
  
  .w-btn-outline {
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}


