:root {
   --pink: #e84393;
}

.location {
   padding: 10px 0px 20px 20px;
   font-size: 17px;
   color: #666;
   box-sizing: border-box;
   background-size: 21px auto;
   margin-left: 5%;
   /* margin-left 값을 조절하여 왼쪽으로 이동 */
}

span a {
   font-weight: bold;
   color: #333;
}

.ar {
   font-weight: bold;
}

.heading {
   text-align: center;
   font-size: 3rem;
   color: var(--pink);
   padding: 1rem;
   margin: 2rem 0;
   background: rgba(255, 51, 153, 0.05);
}

.album-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* 왼쪽 정렬 */
   margin: 0 auto !important;
   max-width: 1300px;

}

.album-container .album {
   width: 48%;
   /* 두 개의 앨범을 한 줄에 두기 위해 너비를 48%로 설정 */
   margin: 1%;
   /* 여백을 주기 위해 1% 마진 추가 */
      border-radius: 10px;
}

.album {
   width: 48%;
   /* 48%로 변경 */
   max-width: 750px;
   /* 최대 너비 설정 */
   height: 230px;
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
   border-radius: 1rem solid rgba(0, 0, 0, .1);
   position: relative;
   border: 1px solid #ddd;
   overflow: hidden;
   margin-top: 20px;
   margin-bottom: 40px;
   display: flex;
}

.album .image{
   width: 250px;
   height: 250px;

}

.album .image img{
	width: 100%;
	height: 100%;	
}

.album .image img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}


.album .content {
   flex: 1;
   margin-bottom: 10px;
   justify-content: flex-start;
   flex-direction: column;
   justify-content: center;
   padding: 1.5rem;
}

.album .content .title-subtitle {
   display: flex;
   margin-bottom: 10px;
   /* 원하는 만큼의 간격으로 조절하세요 */
   flex-direction: column;
   align-items: baseline;
   /* 추가된 부분 */
}


.album .content .title-subtitle .title {
   font-size: 22px;
   font-weight: bolder;
   margin-top: 10px;
   margin-bottom: 15px;
}

.album .content .title-subtitle .subtitle {
   font-size: 14px;
   font-weight: lighter;
   margin-bottom: 15px;
   overflow: hidden;
}


.album .image .i {
   position: absolute;
   bottom: 10px;
   right: 10px;
   z-index: 1;
   display: flex;
}

.on a {
   font-weight: bold;
}


.bread-crumbs {
   display: flex;
   align-items: flex-start;
   padding: 2rem 0 2rem 0;
   background-color: #ffffff;
   margin-bottom: -2rem;
   margin: 0 auto;
}

.bread-crumbs ul {
   list-style: none;
   display: flex;
   gap: 2rem;
}

.bread-crumbs li {
   margin-right: 0.5rem;
}

.bread-crumbs a {
   text-decoration: none;
}

.bread-crumbs i {
   font-size: 25px;
}

.pagination-container {
   flex-grow: 1;
   /* 공간을 채우도록 함 */
   text-align: center;
   /* 내부 요소(페이징)를 중앙 정렬 */
   margin-bottom: 20px;
}

.pagination {
   margin: 0;
   /* 기존 마진 제거 */
   display: inline-block;
   text-align: center;
   /* 가운데 정렬 추가 */
   font-weight: bolder;
   flex-grow: 1;
   font-size: 14px;
}

.pagination-item {
   margin: 0 5px;
   padding: 5px 10px;
   border-radius: 5px;
   text-decoration: none;
   color: #333;
   font-weight: bold;
}

.pagination-item.active {
   background-color: #007bff;
   color: #fff;
}

.pagination-item.disabled {
   color: #333;
   cursor: pointer;
   pointer-events: none;
}


.write_button_container {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

.write_button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #42424a;
    font-size: 0.9rem;
    color: aliceblue;
    margin-right: 5%;
}

.title>a {
   color: #333;
}

.search_container {
   padding: 10px 0px 10px 10px;
   /* 테두리와 내용 사이의 간격을 조정하세요 */
   text-align: right;
   margin-right: 5%;
}

.search_container form {
   border: none;
   /* form 요소에는 테두리를 없애줍니다 */
}

.search_container select,
.search_container input[type="submit"] {
   border: 1px solid #000;
   /* 텍스트 입력 필드와 버튼에 테두리를 추가합니다 */
   padding: 5px;
   /* 텍스트 입력 필드와 버튼 내부의 간격을 조정하세요 */
}

.search_container input[type="text"] {
   border-bottom: 1px solid #d3d3d3;
}

.search_container input[type="text"],
.search_container input[type="submit"],
.search_container select {
   padding: 5px 10px;
   margin: 2px;
}

.search_container input[type="submit"] {
   background-color: #42424a;
   color: white;
   border: none;
   cursor: pointer;
}

/* 작은 화면 (예: 스마트폰) */
@media only screen and (max-width: 600px) {
   .album-container .album {
      width: 100%;
      /* 한 개의 앨범만 한 줄에 표시 */
      margin: 2% 0;
      /* 간격 조절 */
   }

   .search_container input[type="text"] {
      width: 130px;
      /* 검색창을 가득 채우도록 설정 */
   }

}


/* 중간 크기 화면 (예: 태블릿) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
   .album-container .album {
      width: 100%;
      /* 두 개의 앨범을 한 줄에 두기 위해 너비를 48%로 설정 */
      margin: 1%;
      /* 여백을 주기 위해 1% 마진 추가 */
   }
   
   .album-container {
       display: flex;
       justify-content: center;
   }
}

/* 큰 화면 (예: 데스크탑) */
@media only screen and (min-width: 1025px) {
   .album-container .album {
      width: 48%;
      /* 두 개의 앨범을 한 줄에 두기 위해 너비를 48%로 설정 */
      margin: 1%;
      /* 여백을 주기 위해 1% 마진 추가 */
   }

   .search_container form {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 15px;
      margin-bottom: 15px;
   }


   .pagination {
      margin-bottom: 20px;
      text-align: center;
      margin-top: 20px;
      font-weight: bolder;
   }

   .pagination-item {
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
   }

   .pagination-item.active {
      background-color: #007bff;
      color: #fff;
   }

   .pagination-item.disabled {
      color: #333;
      cursor: pointer;
   }
}

/* 미디어 쿼리: 화면 크기가 768px 미만일 때 스타일 조정 */
@media only screen and (max-width: 767px) {
   .pagination {
      text-align: center;
      margin: 10px 0;
   }

   .pagination-item {
      margin: 0 3px;
      padding: 3px 8px;
      font-size: 12px;
   }
   
   .album {
    max-width: 500px;
    height: 150px;
    }
   
   .album .image{
    width: 150px;
    height: 150px;
	}
	
	.location {
    margin-left: 2%;
	}
	
	.search_container {
    margin-right: 2%;
	}
	
	.write_button {
    margin-right: 2%;
	}

}

.commonBanner-text h1 {
    font-size: 45px !important;
    font-weight: 800;
    margin-left: 180px;
}

.noData{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #c5c5c5;
}

@media only screen and (max-width: 1024px) {
	
	.commonBanner-text h1 {
    font-size: 25px !important;
    font-weight: 800;
    margin-left: 180px;
	}
}