		body {
			font-family: 'Arial', sans-serif;
			background-color: #fff;
			margin: 0;
			padding: 0;
		}

		.container {
			width: 65%;
			margin: 5px auto;
			background-color: #fff;
			padding: 20px;
			border: 1px solid #eee;
			border-radius: 10px;
		}

		.post-title {
			font-size: 24px;
			color: #333;
			margin-bottom: 10px;
		}

		.post-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #eee;
			padding-bottom: 15px;
			margin-bottom: 20px;
		}

		.post-info-left,
		.post-info-right {
			display: flex;
			align-items: center;
		}

		.post-info-item {
			margin-right: 15px;
		}

		.post-content {
			font-size: 16px;
			color: #333;
			line-height: 1.6;
			margin-bottom: 30px;
			min-height: 200px;
		}

		.comment-section {
			padding-top: 20px;
		}

		.comment {
			display: flex;
			flex-direction: column;
			padding: 10px 0;
			border-bottom: 1px solid #eee;
		}

		.comment-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.comment-author {
			font-weight: bold;
		}

		.comment-actions {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.comment-timestamp {
			font-size: 12px;
			color: #aaa;
		}

		.comments-count {
			font-weight: bold;
			font-size: 16px;
			color: #333;
			padding-bottom: 5px;
			border-bottom: 1px solid #eee;
		}

		.comment-actions a {
			color: #aaa;
			margin-left: 10px;
			font-size: 12px;
			text-decoration: none;
			color: #aaa;
		}

		.comment-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
		}

		.comment-form textarea {
			flex: 1;
			resize: none;
			padding: 10px;
			border-radius: 4px;
			border: 1px solid #ccc;
			min-height: 60px;
		}

		.w-btn-outline {
			padding: 10px 25px;
			border-radius: 15px;
			text-decoration: none;
			font-weight: 600;
			transition: 0.25s;
		}

		.w-btn-outline:hover {
			letter-spacing: 2px;
			transform: scale(1.2);
			cursor: pointer;
		}

		.w-btn:active {
			transform: scale(1.5);
		}

		.w-btn-outline:active {
			transform: scale(1.5);
		}

		.w-btn-blue-outline {
			border: 3px solid #6aafe6;
			color: #6e6e6e;
		}

		.w-btn-blue-outline:hover {
			background-color: #6aafe6;
			color: #d4dfe6;
		}