/* style.css 파일 내용 */
body {
    font-family: Arial, sans-serif;
}
.containers {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
}
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn_wrap {
    text-align: right;
}
.btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-primary {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.btn-default {
    background-color: #e7e7e7;
    color: black;
    border: none;
    border-radius: 4px;
}

@media (max-width: 768px) {
        /* 예시: 클립보드와 스타일 관련 툴바 숨기기 */
        .cke_top .cke_toolbar:nth-of-type(1), /* 클립보드 툴바 */
        .cke_top .cke_toolbar:nth-of-type(3), /* 기타 툴바 요소 */
        .cke_top .cke_toolbar:nth-of-type(9),
        .cke_top .cke_toolbar:nth-of-type(10)
         {
            display: none;
        }
    }